.app {
		margin: auto;
		  display: grid;
		  width: 900px;
		  grid-template-areas:"h hr" "n c";
		  grid-template-rows: auto 1fr;
		  grid-template-columns: 20% 80%;
		  grid-gap: 10px;
		  background-color: #e4f1ef;
		}
